<body>
    <% if (task==null) { %>
        <form class=" flex flex-row p-3" action="/create" method="post" enctype="multipart/form-data">
            <div class="pb-3">
                <input class="form-control" type="text" name="tarefa" id="tarefa" placeholder="Nome do Aluno">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="number" name="cpf" id="cpf" placeholder="CPF do aluno">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="number" name="matricula" id="matricula" placeholder="Número da matricula">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="number" name="rg" id="rg" placeholder="RG do aluno">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="text" name="endereco" id="endereco" placeholder="Endereço">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="file" name="file" id="file">
            </div>
            <button class="btn btn-dark" id="adicionarTarefa" type="submit">Adicionar</button>
        </form>
        <% } else {  %>  
        <form class=" flex flex-row p-3" action="/updateOne/<%= task._id %>" method="post">
            <div class="pb-3">                
                <input class="form-control" type="text" name="tarefa" id="tarefa" value="<%= task.tarefa %>">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="number" name="cpf" id="cpf" value="<%= task.cpf %>">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="number" name="matricula" id="matricula" value="<%= task.matricula%>">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="number" name="rg" id="rg" value="<%= task.rg%>">
            </div>
            <div class="pb-3">                
                <input class="form-control" type="endereco" name="endereco" id="endereco" value="<%= task.endereco %>">
            </div>
            <button class="btn btn-success" id="adicionarTarefa" type="submit">Atualizar</button>
        </form>
        <%  } %>
    </header>
    <section>
        <ul>
            <% tasksList.forEach((task)=> { %>
                <li>
                   nome: <%= task.tarefa %> | cpf: <%= task.cpf %> |
                   numeroMatricula: <%= task.matricula%> | RG: <%= task.rg%> | Endereço: <%= task.endereco %>
                    <a href="/getById/<%=task._id %>/update">Editar</a>
                    <a href="/getById/<%=task._id %>/delete">Apagar</a>
                </li>
                <img src="<%= task.file %>">
                <%})%>
        </ul>
    </section>

    <% if(taskDelete != null){ %>
    <section id="modal">
        <div id="card">
            <a href="/">x</a>
            <h2>Confirmação</h2>
            <hr>
            <p>Deseja realmente apagar a tarefa: <%= taskDelete.tarefa%>?</p>
            <a href="/">não</a>
            <a href="/deleteOne/<%= taskDelete._id %>">sim</a>
        </div>
    </section>
   <% } %>

</body>
       