<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <title>To do list</title>
</head>
<body>
    
    <header>
        <% if(message != ""){ %>
        <div class="alert alert-<%= type %>" role="alert">
            <p><%= message %></p>
            <span>x</span>
        </div>
        <% } %>
        <% if (task==null) { %>
        <form action="/create" method="post" enctype="multipart/form-data">
            <input class="form-control" type="text" name="tarefa" id="tarefa" placeholder="Nome do Aluno">
            <input type="number" name="cpf" id="cpf" placeholder="CPF do aluno">
            <input type="number" name="matricula" id="matricula" placeholder="Número da matricula">
            <input type="number" name="rg" id="rg" placeholder="RG do aluno">
            <input type="text" name="endereco" id="endereco" placeholder="Endereço">
            <input type="file" name="file" id="file">
            <button id="adicionarTarefa" type="submit">Adicionar</button>
        </form>
        <% } else {  %>  
        <form action="/updateOne/<%= task._id %>" method="post">
            <input type="text" name="tarefa" id="tarefa" value="<%= task.tarefa %>">
            <input type="number" name="cpf" id="cpf" value="<%= task.cpf %>">
            <input type="number" name="matricula" id="matricula" value="<%= task.matricula%>">
            <input type="number" name="rg" id="rg" value="<%= task.rg%>">
            <input type="endereco" name="endereco" id="endereco" value="<%= task.endereco %>">
            <button id="adicionarTarefa" type="submit">Atualizar</button>
        </form>
        <%  } %>
    </header>
    <section>
        <ul>
            <% tasksList.forEach((task)=> { %>
                <li>
                   nome: <%= task.tarefa %> | cpf: <%= task.cpf %> |
                   numeroMatricula: <%= task.matricula%> | RG: <%= task.rg%> | Endereço: <%= task.endereco %>
                    <a href="/getById/<%=task._id %>/update">Editar</a>
                    <a href="/getById/<%=task._id %>/delete">Apagar</a>
                </li>
                <img src="<%= task.file %>">
                <%})%>
        </ul>
    </section>

    <% if(taskDelete != null){ %>
    <section id="modal">
        <div id="card">
            <a href="/">x</a>
            <h2>Confirmação</h2>
            <hr>
            <p>Deseja realmente apagar a tarefa: <%= taskDelete.tarefa%>?</p>
            <a href="/">não</a>
            <a href="/deleteOne/<%= taskDelete._id %>">sim</a>
        </div>
    </section>
   <% } %>

   <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>